In [1]:
import pandas as pd
import numpy as np
import math
import warnings
import re

In [2]:
warnings.filterwarnings("ignore")

## Read Data

In [3]:
df = pd.read_csv("Global YouTube Statistics.csv", encoding="unicode_escape")
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [4]:
df.shape

(995, 28)

In [5]:
df[['Title', 'Youtuber']]

                          Title                    Youtuber
0                      T-Series                    T-Series
1                 youtubemovies              YouTube Movies
2                       MrBeast                     MrBeast
3    Cocomelon - Nursery Rhymes  Cocomelon - Nursery Rhymes
4                     SET India                   SET India
..                          ...                         ...
990               Natan por AÃ¯Â¿               Natan por AÃ¯Â¿
991    Free Fire India Official    Free Fire India Official
992                 HybridPanda                       Panda
993                 RobTopGames                 RobTopGames
994                Make Joke Of                Make Joke Of

[995 rows x 2 columns]

In [6]:
# Drop unnecessary columns
dropped_cols = ['Title', 'Abbreviation', 'Unemployment rate', 'Latitude', 'Longitude', 'rank', 'video_views_rank', 'country_rank', 'channel_type_rank', 'channel_type']
df1 = df.drop(dropped_cols, axis=1)
df1.head()

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
0,T-Series,245000000,2.280000e+11,Music,20082,India,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,471031528.0
1,YouTube Movies,170000000,0.000000e+00,Film & Animation,1,United States,1.200000e+01,0.0,0.05,0.04,5.800000e-01,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,270663028.0
2,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,270663028.0
3,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,270663028.0
4,SET India,159000000,1.480000e+11,Shows,116536,India,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,471031528.0

In [7]:
df1.describe()

,subscribers,video views,uploads,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Urban_population
count,9.950000e+02,9.950000e+02,995.000000,9.390000e+02,995.000000,9.950000e+02,9.950000e+02,9.950000e+02,6.580000e+02,990.000000,990.000000,872.000000,8.720000e+02,8.720000e+02
mean,2.298241e+07,1.103954e+10,9187.125628,1.756103e+08,36886.148281,5.898078e+05,4.422574e+05,7.081814e+06,3.490791e+05,2012.630303,15.746465,63.627752,4.303873e+08,2.242150e+08
std,1.752611e+07,1.411084e+10,34151.352254,4.163782e+08,71858.724092,1.148622e+06,8.612161e+05,1.379704e+07,6.143554e+05,4.512503,8.777520,26.106893,4.727947e+08,1.546874e+08
min,1.230000e+07,0.000000e+00,0.000000,1.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,3.558800e+04
25%,1.450000e+07,4.288145e+09,194.500000,2.013750e+07,2700.000000,4.350000e+04,3.265000e+04,5.217500e+05,1.000000e+05,2009.000000,8.000000,36.300000,8.335541e+07,5.590832e+07
50%,1.770000e+07,7.760820e+09,729.000000,6.408500e+07,13300.000000,2.127000e+05,1.595000e+05,2.600000e+06,2.000000e+05,2013.000000,16.000000,68.000000,3.282395e+08,2.706630e+08
75%,2.460000e+07,1.355470e+10,2667.500000,1.688265e+08,37900.000000,6.068000e+05,4.551000e+05,7.300000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,2.706630e+08
max,2.450000e+08,2.280000e+11,301308.000000,6.589000e+09,850900.000000,1.360000e+07,1.020000e+07,1.634000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.397715e+09,8.429340e+08

In [8]:
df2 = df1[(df1['video views']!=0) & (df1['uploads']>100)]
df2.describe()

,subscribers,video views,uploads,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Urban_population
count,8.150000e+02,8.150000e+02,815.000000,8.150000e+02,815.000000,8.150000e+02,8.150000e+02,8.150000e+02,5.740000e+02,815.000000,815.000000,774.000000,7.740000e+02,7.740000e+02
mean,2.267681e+07,1.156397e+10,11211.206135,1.859554e+08,43898.589387,7.019649e+05,5.263405e+05,8.427945e+06,3.917884e+05,2012.602454,15.737423,62.696382,4.485580e+08,2.290174e+08
std,1.729635e+07,1.515754e+10,37437.248009,3.734304e+08,77394.237978,1.237101e+06,9.275460e+05,1.485987e+07,6.460873e+05,4.350887,8.756872,26.129059,4.853834e+08,1.568250e+08
min,1.230000e+07,2.056338e+07,104.000000,8.600000e+01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01,1970.000000,1.000000,9.000000,1.912789e+06,1.304943e+06
25%,1.450000e+07,4.350995e+09,459.500000,2.863300e+07,6700.000000,1.077000e+05,8.075000e+04,1.300000e+06,1.000000e+05,2009.000000,8.000000,36.000000,9.646211e+07,5.590832e+07
50%,1.760000e+07,7.876741e+09,1101.000000,8.006200e+07,19300.000000,3.082000e+05,2.312000e+05,3.700000e+06,2.000000e+05,2013.000000,16.000000,63.200000,3.282395e+08,2.706630e+08
75%,2.410000e+07,1.399023e+10,3730.000000,1.833710e+08,45150.000000,7.227000e+05,5.420000e+05,8.700000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,2.706630e+08
max,2.450000e+08,2.280000e+11,301308.000000,6.148000e+09,850900.000000,1.360000e+07,1.020000e+07,1.634000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.397715e+09,8.429340e+08

In [9]:
df2.head()

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
0,T-Series,245000000,2.280000e+11,Music,20082,India,2.258000e+09,564600.0,9000000.0,6800000.0,108400000.0,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,471031528.0
2,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,1.348000e+09,337000.0,5400000.0,4000000.0,64700000.0,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,270663028.0
3,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,1.975000e+09,493800.0,7900000.0,5900000.0,94800000.0,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,270663028.0
4,SET India,159000000,1.480000e+11,Shows,116536,India,1.824000e+09,455900.0,7300000.0,5500000.0,87500000.0,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,471031528.0
6,Ã½Ã½Ã½ Kids Diana Show,112000000,9.324704e+10,People & Blogs,1111,United States,7.316740e+08,182900.0,2900000.0,2200000.0,35100000.0,NaN,2015.0,May,12.0,88.2,3.282395e+08,270663028.0

In [10]:
df2.shape

(815, 18)

In [11]:
df2.isnull().sum()

Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    35
uploads                                      0
Country                                     40
video_views_for_the_last_30_days             0
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               241
created_year                                 0
created_month                                0
created_date                                 0
Gross tertiary education enrollment (%)     41
Population                                  41
Urban_population                            41
dtype: int64

In [12]:
# null to data by cells
total_null_cells = df2.isnull().sum().sum()
total_cells = np.product(df2.shape)
total_null_cells*100/total_cells

2.992501704158146

In [13]:
# null to data by rows
total_null_rows = len(df2[df2.isnull().any(axis=1)])
total_rows = df2.shape[0]
total_null_rows*100/total_rows

37.54601226993865

In [14]:
df2.category.unique()

array(['Music', 'Entertainment', 'Education', 'Shows', 'People & Blogs',
       'Gaming', 'Sports', 'Film & Animation', 'News & Politics',
       'Comedy', 'Trailers', 'Nonprofits & Activism', nan,
       'Howto & Style', 'Science & Technology', 'Movies',
       'Pets & Animals', 'Autos & Vehicles', 'Travel & Events'],
      dtype=object)

## Handle missing values

### category

In [15]:
df2[pd.isna(df2.category) == True]

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
91,Vlad vÃ¯Â¿Â½Ã¯Â¿Â½Ã¯,37900000,2.351015e+10,NaN,515,United States,2.440930e+08,61000.0,976400.0,732300.0,11700000.0,200000.0,2018.0,Jul,20.0,88.2,3.282395e+08,270663028.0
132,BETER BÃ¯Â¿Â½Ã¯Â¿Â½,32700000,1.918004e+10,NaN,2738,Turkey,1.463000e+09,365900.0,5900000.0,4400000.0,70200000.0,2100000.0,2012.0,Dec,12.0,23.9,8.342962e+07,63097818.0
155,Diana and Roma ESP,30700000,1.235599e+10,NaN,578,United States,1.029980e+08,25700.0,412000.0,309000.0,4900000.0,200000.0,2016.0,Nov,27.0,88.2,3.282395e+08,270663028.0
161,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½,30400000,1.799996e+10,NaN,532,United States,1.229260e+08,30700.0,491700.0,368800.0,5900000.0,300000.0,2018.0,Nov,3.0,88.2,3.282395e+08,270663028.0
214,D Billions,26200000,3.197746e+10,NaN,775,United States,4.870760e+08,121800.0,1900000.0,1500000.0,23400000.0,200000.0,2019.0,Jul,27.0,88.2,3.282395e+08,270663028.0
255,shfa show India,24200000,1.572416e+10,NaN,469,United Arab Emirates,1.512080e+08,37800.0,604800.0,453600.0,7300000.0,200000.0,2019.0,Apr,1.0,36.8,9.770529e+06,8479744.0
261,Diana and Roma ARA,24100000,1.104126e+10,NaN,590,United States,6.688400e+07,16700.0,267500.0,200700.0,3200000.0,200000.0,2019.0,Feb,1.0,88.2,3.282395e+08,270663028.0
312,Vlad and Niki Arabic,22500000,1.061370e+10,NaN,526,United States,6.506600e+07,16300.0,260300.0,195200.0,3100000.0,100000.0,2018.0,Nov,9.0,88.2,3.282395e+08,270663028.0
319,Vlad and Niki ESP,22000000,8.594441e+09,NaN,515,United States,1.838710e+08,46000.0,735500.0,551600.0,8800000.0,200000.0,2018.0,Oct,11.0,88.2,3.282395e+08,270663028.0
332,ZAMZAM ELECTRONICS TRADING,21700000,8.507819e+09,NaN,15126,United Arab Emirates,1.598000e+09,399600.0,6400000.0,4800000.0,76700000.0,3400000.0,2020.0,Dec,19.0,36.8,9.770529e+06,8479744.0
355,Vlad and Niki IDN,21000000,9.789122e+09,NaN,498,United States,1.333620e+08,33300.0,533400.0,400100.0,6400000.0,300000.0,2018.0,Nov,9.0,88.2,3.282395e+08,270663028.0
424,Manoj parihar,19300000,2.642281e+08,NaN,335,India,3.716700e+07,9300.0,148700.0,111500.0,1800000.0,300000.0,2021.0,Mar,2.0,28.1,1.366418e+09,471031528.0
452,Smile Family Spanish,18600000,7.008250e+09,NaN,457,United States,4.339600e+07,10800.0,173600.0,130200.0,2100000.0,200000.0,2019.0,Jun,19.0,88.2,3.282395e+08,270663028.0
495,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ KIMPRO,17700000,1.920670e+10,NaN,1646,South Korea,3.404000e+09,850900.0,13600000.0,10200000.0,163400000.0,3200000.0,2017.0,Nov,11.0,94.3,5.170910e+07,42106719.0
496,Jane ASMR Ã¯Â¿Â½Ã¯Â¿Â½,17700000,7.387622e+09,NaN,1888,South Korea,1.028030e+08,0.0,0.0,0.0,0.0,NaN,2012.0,Nov,17.0,94.3,5.170910e+07,42106719.0
553,Ivana Alawi,16600000,1.318443e+09,NaN,180,Philippines,1.507900e+07,3800.0,60300.0,45200.0,723800.0,100000.0,2018.0,Jun,1.0,35.5,1.081166e+08,50975903.0
593,Vlad and Niki ARA,16100000,7.399296e+09,NaN,510,United States,3.201100e+07,8000.0,128000.0,96000.0,1500000.0,100000.0,2019.0,May,24.0,88.2,3.282395e+08,270663028.0
598,Panda Shorts,16100000,7.155736e+09,NaN,667,Sweden,4.785280e+08,119600.0,1900000.0,1400000.0,23000000.0,3000000.0,2020.0,Nov,21.0,67.0,1.028545e+07,9021165.0
619,MY FAMILY,15700000,6.153496e+09,NaN,150,Singapore,9.396470e+05,235.0,3800.0,2800.0,45100.0,800.0,2019.0,Dec,3.0,84.8,5.703569e+06,5703569.0
712,Filaretiki,14800000,1.578821e+10,NaN,2222,United States,1.203000e+09,300800.0,4800000.0,3600000.0,57800000.0,1700000.0,2021.0,Mar,24.0,88.2,3.282395e+08,270663028.0
738,Lotus Music,14500000,1.739129e+09,NaN,514,India,2.303400e+07,5800.0,92100.0,69100.0,1100000.0,100000.0,2021.0,Jun,1.0,28.1,1.366418e+09,471031528.0
742,Eli Kids - Cartoons & Songs,14500000,4.821183e+09,NaN,605,United States,1.492410e+08,37300.0,597000.0,447700.0,7200000.0,400000.0,2018.0,Jan,16.0,88.2,3.282395e+08,270663028.0
763,Vlad and Niki PRT,14400000,6.543282e+09,NaN,516,United States,4.008900e+07,10000.0,160400.0,120300.0,1900000.0,NaN,2018.0,Nov,3.0,88.2,3.282395e+08,270663028.0
810,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½,13900000,8.451755e+09,NaN,504,United States,1.142610e+08,28600.0,457000.0,342800.0,5500000.0,200000.0,2018.0,Oct,12.0,88.2,3.282395e+08,270663028.0
832,Zeinab Harake,13600000,8.968914e+08,NaN,273,Philippines,1.208800e+07,3000.0,48400.0,36300.0,580200.0,100000.0,2017.0,Oct,19.0,35.5,1.081166e+08,50975903.0
849,Vlad y Niki Show,13400000,4.622629e+09,NaN,477,United States,9.222800e+07,23100.0,368900.0,276700.0,4400000.0,200000.0,2018.0,Nov,8.0,88.2,3.282395e+08,270663028.0
852,Vibhu 96,13400000,2.056338e+07,NaN,256,India,2.026400e+07,5100.0,81100.0,60800.0,972700.0,300000.0,2022.0,Jun,5.0,28.1,1.366418e+09,471031528.0
879,Vilmei,13200000,4.205665e+09,NaN,1324,Indonesia,2.643080e+08,66100.0,1100000.0,792900.0,12700000.0,800000.0,2013.0,Sep,25.0,36.3,2.702039e+08,151509724.0
888,WiederDude,13100000,2.733683e+09,NaN,289,United States,5.689400e+07,14200.0,227600.0,170700.0,2700000.0,100000.0,2016.0,Jun,12.0,88.2,3.282395e+08,270663028.0
930,FACT FIRE KING,12700000,1.159290e+09,NaN,782,India,5.129100e+07,12800.0,205200.0,153900.0,2500000.0,500000.0,2020.0,Jul,29.0,28.1,1.366418e+09,471031528.0
934,Diana and Roma IND,12700000,5.567832e+09,NaN,534,United States,4.660200e+07,11700.0,186400.0,139800.0,2200000.0,100000.0,2019.0,Nov,7.0,88.2,3.282395e+08,270663028.0
941,Heidi y Zidane,12700000,6.001189e+09,NaN,600,United States,1.611700e+07,4000.0,64500.0,48400.0,773600.0,NaN,2019.0,Dec,2.0,88.2,3.282395e+08,270663028.0
957,Bebefinn - Nursery Rhymes & Kids Songs,12500000,4.163639e+09,NaN,322,United States,5.654590e+08,0.0,0.0,0.0,0.0,500000.0,2022.0,Mar,30.0,88.2,3.282395e+08,270663028.0
971,DEV Ke Facts,12400000,1.971226e+09,NaN,218,India,2.736700e+08,68400.0,1100000.0,821000.0,13100000.0,600000.0,2012.0,Sep,29.0,28.1,1.366418e+09,471031528.0
992,Panda,12300000,2.214684e+09,NaN,2452,United Kingdom,6.703500e+04,17.0,268.0,201.0,3200.0,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,55908316.0

In [16]:
# In this case, we can remove these rows but we try to avoid such solution as much as possible
# Another option is to assign 'Other' as a new category to these null values
df2.category = df2.category.apply(lambda category: 'Other' if pd.isna(category) == True else category)
df2.category.unique()

array(['Music', 'Entertainment', 'Education', 'Shows', 'People & Blogs',
       'Gaming', 'Sports', 'Film & Animation', 'News & Politics',
       'Comedy', 'Trailers', 'Nonprofits & Activism', 'Other',
       'Howto & Style', 'Science & Technology', 'Movies',
       'Pets & Animals', 'Autos & Vehicles', 'Travel & Events'],
      dtype=object)

In [17]:
df2.category.isnull().sum()

0

### country

In [18]:
df2[pd.isna(df2.Country) == True]

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
74,elrubiusOMG,40400000,7.410537e+09,Gaming,703,NaN,5.773000e+06,1400.0,23100.0,17300.0,277100.0,NaN,2011.0,Dec,20.0,NaN,NaN,NaN
100,PowerKids TV,36500000,1.896124e+10,Film & Animation,5621,NaN,3.187020e+08,79700.0,1300000.0,956100.0,15300000.0,600000.0,2014.0,Aug,6.0,NaN,NaN,NaN
103,Ozuna,36200000,2.335580e+10,Music,196,NaN,1.692420e+08,42300.0,677000.0,507700.0,8100000.0,100000.0,2016.0,Mar,24.0,NaN,NaN,NaN
140,SMTOWN,31900000,2.733024e+10,Music,4158,NaN,2.334020e+08,58400.0,933600.0,700200.0,11200000.0,100000.0,2006.0,Mar,18.0,NaN,NaN,NaN
169,jacksepticeye,30100000,1.624663e+10,Gaming,5114,NaN,4.042500e+07,10100.0,161700.0,121300.0,1900000.0,100000.0,2007.0,Feb,24.0,NaN,NaN,NaN
189,Goldmines Dishoom,28000000,8.603468e+09,Film & Animation,3878,NaN,1.292110e+08,32300.0,516800.0,387600.0,6200000.0,400000.0,2016.0,Nov,26.0,NaN,NaN,NaN
202,Gulshan Kalra,27100000,1.273244e+10,Howto & Style,545,NaN,5.027790e+08,125700.0,2000000.0,1500000.0,24100000.0,1300000.0,2018.0,Apr,9.0,NaN,NaN,NaN
218,NichLmao,26000000,1.410101e+10,People & Blogs,868,NaN,6.063620e+08,151600.0,2400000.0,1800000.0,29100000.0,1100000.0,2018.0,Sep,25.0,NaN,NaN,NaN
245,mujjuu___14,24800000,1.465553e+10,People & Blogs,872,NaN,4.002220e+08,100100.0,1600000.0,1200000.0,19200000.0,900000.0,2020.0,May,18.0,NaN,NaN,NaN
258,Daniel LaBelle,24100000,1.291616e+10,Comedy,287,NaN,3.987650e+08,99700.0,1600000.0,1200000.0,19100000.0,700000.0,2009.0,Mar,11.0,NaN,NaN,NaN
276,NickyJamTV,23600000,1.590182e+10,Music,392,NaN,7.792700e+07,19500.0,311700.0,233800.0,3700000.0,100000.0,2012.0,Jan,10.0,NaN,NaN,NaN
288,Akshay Nagwadiya,23200000,7.966720e+09,Entertainment,595,NaN,3.211790e+08,80300.0,1300000.0,963500.0,15400000.0,900000.0,2017.0,Oct,25.0,NaN,NaN,NaN
302,KL BRO Biju Rithvik,22800000,1.798835e+10,Entertainment,1841,NaN,2.033000e+09,508100.0,8100000.0,6100000.0,97600000.0,3200000.0,2020.0,Jul,21.0,NaN,NaN,NaN
304,Like Nastya PRT,22700000,1.156812e+10,Entertainment,654,NaN,9.661300e+07,24200.0,386500.0,289800.0,4600000.0,100000.0,2019.0,Apr,9.0,NaN,NaN,NaN
329,Rotana,21800000,1.932935e+10,Music,135,NaN,1.057100e+04,3.0,42.0,32.0,507.0,100.0,2011.0,Oct,27.0,NaN,NaN,NaN
331,Sourav Joshi Vlogs,21700000,9.392093e+09,People & Blogs,1390,NaN,2.653360e+08,66300.0,1100000.0,796000.0,12700000.0,400000.0,2019.0,Feb,19.0,NaN,NaN,NaN
382,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ - Genevieve's Playhouse,20300000,1.102239e+10,Education,107,NaN,7.177700e+07,17900.0,287100.0,215300.0,3400000.0,200000.0,2018.0,Jul,22.0,NaN,NaN,NaN
410,Troom Troom Es,19700000,7.452668e+09,People & Blogs,2912,NaN,2.938700e+07,7300.0,117500.0,88200.0,1400000.0,100000.0,2016.0,Feb,5.0,NaN,NaN,NaN
425,Vsauce,19300000,2.897907e+09,Science & Technology,462,NaN,6.961400e+07,17400.0,278500.0,208800.0,3300000.0,100000.0,2007.0,Jul,30.0,NaN,NaN,NaN
426,Unbox Therapy,19300000,4.508184e+09,Science & Technology,2175,NaN,1.671800e+07,4200.0,66900.0,50200.0,802500.0,1100000.0,2010.0,Dec,21.0,NaN,NaN,NaN
431,Goldmines Great Indian Comedy,19100000,5.194942e+09,Film & Animation,2948,NaN,6.592000e+07,16500.0,263700.0,197800.0,3200000.0,200000.0,2016.0,Aug,29.0,NaN,NaN,NaN
457,The ACE Family,18500000,4.558380e+09,People & Blogs,712,NaN,2.835000e+06,709.0,11300.0,8500.0,136100.0,NaN,2016.0,Jan,10.0,NaN,NaN,NaN
469,Bobby chourasiya,18200000,9.937823e+09,People & Blogs,442,NaN,4.678480e+08,117000.0,1900000.0,1400000.0,22500000.0,1000000.0,2019.0,Jan,25.0,NaN,NaN,NaN
483,BeatboxJCOP,18000000,8.716982e+09,Film & Animation,748,NaN,1.375000e+09,343800.0,5500000.0,4100000.0,66000000.0,3400000.0,2011.0,Mar,12.0,NaN,NaN,NaN
518,Koray Zeynep,17400000,1.656056e+10,People & Blogs,2078,NaN,4.263890e+08,106600.0,1700000.0,1300000.0,20500000.0,400000.0,2016.0,Jul,8.0,NaN,NaN,NaN
523,PopularMMOs,17200000,1.457316e+10,Gaming,4685,NaN,1.529600e+07,3800.0,61200.0,45900.0,734200.0,100000.0,2012.0,Apr,17.0,NaN,NaN,NaN
595,TWICE,16100000,5.055577e+09,Music,1123,NaN,9.872000e+07,24700.0,394900.0,296200.0,4700000.0,100000.0,2016.0,Mar,27.0,NaN,NaN,NaN
601,sagar kalra (Shorts),16000000,6.543630e+09,People & Blogs,453,NaN,7.406200e+07,18500.0,296200.0,222200.0,3600000.0,200000.0,2017.0,Jun,30.0,NaN,NaN,NaN
624,Kuplinov Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿,15600000,6.862529e+09,Gaming,6623,NaN,9.866000e+07,24700.0,394600.0,296000.0,4700000.0,200000.0,2012.0,Dec,23.0,NaN,NaN,NaN
699,ZutiGang,14900000,1.591332e+10,People & Blogs,1363,NaN,3.466530e+08,86700.0,1400000.0,1000000.0,16600000.0,400000.0,2021.0,Mar,5.0,NaN,NaN,NaN
765,Zig & Sharko,14400000,9.023953e+09,Film & Animation,978,NaN,6.268900e+07,15700.0,250800.0,188100.0,3000000.0,100000.0,2015.0,May,6.0,NaN,NaN,NaN
783,#Refugio Mental,14100000,3.594937e+09,Entertainment,846,NaN,6.942000e+06,1700.0,27800.0,20800.0,333200.0,NaN,2013.0,Aug,10.0,NaN,NaN,NaN
805,Dental Digest,13900000,7.450346e+09,People & Blogs,324,NaN,2.315620e+08,57900.0,926200.0,694700.0,11100000.0,300000.0,2020.0,Aug,12.0,NaN,NaN,NaN
812,Alexa Rivera,13900000,3.193226e+09,Howto & Style,288,NaN,1.427600e+08,35700.0,571000.0,428300.0,6900000.0,300000.0,2010.0,Aug,21.0,NaN,NaN,NaN
889,Ian Boggs,13100000,9.110348e+09,Entertainment,1327,NaN,3.293120e+08,82300.0,1300000.0,987900.0,15800000.0,700000.0,2010.0,Mar,25.0,NaN,NaN,NaN
918,Rauw Alejandro,12900000,1.150409e+10,Music,168,NaN,2.055480e+08,51400.0,822200.0,616600.0,9900000.0,100000.0,2014.0,Dec,11.0,NaN,NaN,NaN
925,Troom Troom India,12800000,6.804073e+09,Howto & Style,2385,NaN,1.727000e+07,4300.0,69100.0,51800.0,829000.0,NaN,2015.0,Apr,19.0,NaN,NaN,NaN
939,#RefÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½,12700000,2.709954e+09,Entertainment,846,NaN,6.942000e+06,1700.0,27800.0,20800.0,333200.0,NaN,2013.0,Aug,10.0,NaN,NaN,NaN
958,Troom Troom PT,12500000,4.384178e+09,Howto & Style,2738,NaN,1.350100e+07,3400.0,54000.0,40500.0,648100.0,NaN,2015.0,Apr,19.0,NaN,NaN,NaN
972,Hero Movies 2023,12400000,1.689091e+09,People & Blogs,689,NaN,2.183700e+07,5500.0,87300.0,65500.0,1000000.0,NaN,2017.0,Feb,22.0,NaN,NaN,NaN

In [19]:
# We cannot estimate country because it's a categorical field, so the best way is to remove all rows that have unknown country
df3 = df2[~(pd.isna(df2.Country) == True)]
df3.shape

(775, 18)

In [20]:
df3.isnull().sum()

Youtuber                                     0
subscribers                                  0
video views                                  0
category                                     0
uploads                                      0
Country                                      0
video_views_for_the_last_30_days             0
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               234
created_year                                 0
created_month                                0
created_date                                 0
Gross tertiary education enrollment (%)      1
Population                                   1
Urban_population                             1
dtype: int64

### Education, population & urban population

In [21]:
df3[pd.isna(df3.Urban_population) == True]

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
663,Musas,15100000,2.400038e+09,Howto & Style,159,Andorra,86.0,0.02,0.34,0.26,4.0,NaN,2006.0,Mar,12.0,NaN,NaN,NaN

In [22]:
df3[df3.Country == 'Andorra']

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
663,Musas,15100000,2.400038e+09,Howto & Style,159,Andorra,86.0,0.02,0.34,0.26,4.0,NaN,2006.0,Mar,12.0,NaN,NaN,NaN

In [23]:
# There is only one row so we can just remove it
df4 = df3[~(df3.Country == 'Andorra')]
df4.shape

(774, 18)

### subscribers for last 30 days

In [24]:
df4[pd.isna(df4.subscribers_for_last_30_days) == True]

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
6,Ã½Ã½Ã½ Kids Diana Show,112000000,9.324704e+10,People & Blogs,1111,United States,731674000.0,182900.0,2900000.0,2200000.0,35100000.0,NaN,2015.0,May,12.0,88.2,3.282395e+08,270663028.0
7,PewDiePie,111000000,2.905804e+10,Gaming,4716,Japan,39184000.0,9800.0,156700.0,117600.0,1900000.0,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,115782416.0
23,Canal KondZilla,66500000,3.677559e+10,Music,2572,Brazil,447223000.0,0.0,0.0,0.0,0.0,NaN,2012.0,Mar,21.0,51.3,2.125594e+08,183241641.0
59,whinderssonnunes,44200000,4.274709e+09,Comedy,558,Brazil,26683000.0,6700.0,106700.0,80100.0,1300000.0,NaN,2013.0,Jan,21.0,51.3,2.125594e+08,183241641.0
68,Like Nastya Show,42400000,1.954770e+10,Entertainment,618,United States,53202000.0,13300.0,212800.0,159600.0,2600000.0,NaN,2017.0,Nov,14.0,88.2,3.282395e+08,270663028.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,SAAIHALILINTAR,12400000,1.113066e+09,Entertainment,409,Indonesia,806075.0,202.0,3200.0,2400.0,38700.0,NaN,2012.0,Apr,28.0,36.3,2.702039e+08,151509724.0
978,Heidi and Zidane HZHtube,12400000,4.021409e+09,Entertainment,813,Canada,9595000.0,2400.0,38400.0,28800.0,460600.0,NaN,2015.0,Nov,24.0,68.9,3.699198e+07,30628482.0
981,Pari's Lifestyle,12400000,7.741765e+09,People & Blogs,459,India,38165000.0,9500.0,152700.0,114500.0,1800000.0,NaN,2018.0,Nov,26.0,28.1,1.366418e+09,471031528.0
982,DisneyChannelUK,12400000,1.260749e+10,Music,4422,United Kingdom,34758000.0,8700.0,139000.0,104300.0,1700000.0,NaN,2007.0,Dec,6.0,60.0,6.683440e+07,55908316.0
987,Avril Lavigne,12400000,6.202090e+09,Music,205,United States,50188000.0,12500.0,200800.0,150600.0,2400000.0,NaN,2005.0,Oct,8.0,88.2,3.282395e+08,270663028.0

In [25]:
df4.subscribers_for_last_30_days.unique()

array([2.0e+06, 8.0e+06, 1.0e+06,     nan, 1.0e+05, 6.0e+05, 1.1e+06,
       7.0e+05, 4.0e+05, 9.0e+05, 5.0e+05, 3.0e+05, 1.6e+06, 8.0e+05,
       2.0e+05, 1.3e+06, 2.0e+03, 5.5e+06, 1.9e+06, 4.0e+04, 2.1e+06,
       1.2e+06, 1.4e+06, 3.4e+06, 6.7e+06, 3.2e+06, 2.3e+05, 1.0e+03,
       3.0e+06, 8.0e+02, 1.7e+06, 6.0e+02, 1.0e+04, 1.5e+06, 3.2e+01])

In [26]:
# For this field, we are also unable to estimate the number of new subscribers
# Therefore, it would be just a temporary solution to assume there were no new subscribers to these youtube channels
df4.subscribers_for_last_30_days = df4.subscribers_for_last_30_days.apply(lambda new_subscribers: 0 if pd.isna(new_subscribers) == True else new_subscribers)
df4[pd.isna(df4.subscribers_for_last_30_days) == True]

Empty DataFrame
Columns: [Youtuber, subscribers, video views, category, uploads, Country, video_views_for_the_last_30_days, lowest_monthly_earnings, highest_monthly_earnings, lowest_yearly_earnings, highest_yearly_earnings, subscribers_for_last_30_days, created_year, created_month, created_date, Gross tertiary education enrollment (%), Population, Urban_population]
Index: []

In [27]:
df4.isnull().sum()

Youtuber                                   0
subscribers                                0
video views                                0
category                                   0
uploads                                    0
Country                                    0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
created_year                               0
created_month                              0
created_date                               0
Gross tertiary education enrollment (%)    0
Population                                 0
Urban_population                           0
dtype: int64

In [28]:
df4.shape

(774, 18)

## Handle special characters

In [29]:
df4.Youtuber.unique()

array(['T-Series', 'MrBeast', 'Cocomelon - Nursery Rhymes', 'SET India',
       'Ã½Ã½Ã½ Kids Diana Show', 'PewDiePie', 'Like Nastya', 'Vlad and Niki',
       'Zee Music Company', 'WWE', 'BLACKPINK', 'Sony SAB', 'BANGTANTV',
       'Justin Bieber', 'HYBE LABELS', 'Zee TV',
       "Pinkfong Baby Shark - Kids' Songs & Stories", 'Canal KondZilla',
       'ChuChu TV Nursery Rhymes & Kids Songs', 'Shemaroo Filmi Gaane',
       'Colors TV', 'Dude Perfect', 'Movieclips', 'Tips Official',
       'El Reino Infantil', 'Wave Music', 'Aaj Tak', 'Sony Music India',
       'EminemMusic', 'Marshmello', 'YRF', 'Ed Sheeran',
       'Infobells - Hindi', 'Taylor Swift', 'Ariana Grande',
       'BillionSurpriseToys  - Nursery Rhymes & Cartoons', 'JuegaGerman',
       'Get Movies', 'Shemaroo', 'SonyMusicIndiaVEVO', 'Fernanfloo',
       'Voot Kids', 'Felipe Neto', 'VocÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'HAR PAL GEO',
       'Katy Perry', 'whinderssonnunes', 'ABS-CBN Entertainment',
       'Shakira', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'ARY Digital HD',
       'Speed Records', 'Masha and The Bear', 'Like Nastya Show',
       'Ishtar Music', 'Kimberly Loaiza',
       'Little Baby Bum - Nursery Rhymes & Kids Songs', 'shfa2 - Ã¯Â¿Â½Ã¯Â¿Â½',
       'CarryMinati', 'XXXTENTACION', 'Super Simple Songs - Kids Songs',
       'Mikecrack', 'WorkpointOfficial', 'GR6 EXPLODE', 'TEDx Talks',
       'shfa', 'Goldmines Gaane Sune Ansune', 'TheEllenShow', 'Sony PAL',
       'Daddy Yankee', 'Vlad vÃ¯Â¿Â½Ã¯Â¿Â½Ã¯', 'Like Nastya ESP',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ one31', 'Jkk Entertainment', 'ABP NEWS',
       'Maria Clara & JP', 'Maroon 5', 'Ultra Bollywood', 'YouTube',
       'La Granja de ZenÃ¯Â¿Â½', 'Saregama Music', 'IndiaTV',
       'T-Series Bollywood Classics', 'Markiplier', "Ryan's World",
       "Genevieve's Playhouse - Learning Videos for Kids", 'Geet MP3',
       'J Balvin', 'Jess No Limit', 'Jingle Toons', 'VEGETTA777',
       'SSSniperWolf', 'Selena Gomez', 'Rajshri', 'Ch3Thailand',
       'KHANDESHI MOVIES', 'NoCopyrightSounds',
       'CVS 3D Rhymes & Kids Songs', 'Ricis Official',
       'BabyBus - Kids Songs and Cartoons', 'Eros Now Music',
       'BETER BÃ¯Â¿Â½Ã¯Â¿Â½', 'DisneyMusicVEVO', 'The Weeknd', 'KAROL G',
       'Mr Bean', 'rezendeevil', 'StarPlus', 'GMA  Network', 'GENIAL',
       'MR. INDIAN HACKER', 'Worldwide Records Bhojpuri', 'DONA Ã¯Â¿Â½Ã¯Â¿Â½',
       'Dream', 'Lucas and Marcus', 'JustinBieberVEVO',
       'Peppa Pig - Official Channel',
       'The Tonight Show Starring Jimmy Fallon', 'TheDonato',
       'Diana and Roma ESP', 'Zee News', 'AboFlah', 'AH', 'Trap Nation',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½',
       'Boram Tube Vlog [Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ | toyoraljanahtv',
       "Spinnin' Records", 'Little Angel: Nursery Rhymes & Kids Songs',
       'Shawn Mendes', 'ashish chanchlani vines', 'Ultra Records',
       'Zhong', 'Enaldinho', 'AuronPlay', 'infobells - Tamil',
       'The Late Late Show with James Corden', 'Aditya Movies',
       'infobells - Telugu', 'HUM TV', 'Shemaroo Movies',
       'Bounce Patrol - Kids Songs', 'toycantando', 'Wiz Khalifa',
       'JYP Entertainment', 'Ã½Ã½Ã½ Kids Roma Show', 'DanTDM', 'Nick Jr.',
       'Crazy XYZ', 'Dushyant kukreja', 'Brent Rivera',
       'Renato Garcia YT', 'Beast Reacts', 'enchufetv', 'Netflix',
       'Raffy Tulfo in Action', 'WORLDSTARHIPHOP', 'Goldmines Bollywood',
       'Alan Chikin Chow', 'PANDA BOI', 'BB Ki Vines', 'D Billions',
       'Junya.Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'Smosh', 'BeyoncÃ¯Â¿', 'Indosiar',
       'VanossGaming', 'David Guetta', 'LosPolinesios', 'TaylorSwiftVEVO',
       'Rans Entertainment', 'LankyBox', 'Coldplay', 'WB Kids',
       'The Lallantop', 'RihannaVEVO', 'WatchMojo.com', 'TRANS7 OFFICIAL',
       'Anuel AA', 'Dan Rhodes', 'Yuya', "America's Got Talent",
       'EminemVEVO', 'Chloe Ting', 'KatyPerryVEVO', 'Mark Rober',
       '1theK (Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯', 'Like Nastya AE', 'Pen Movies',
       'shfa show India', 'Alejo Igoa', 'netd mÃ¯Â¿Â½Ã¯Â¿', 'DJ Snake',
       'Diana and Roma ARA', 'KSI', 'Spider Slack', 'Preston',
       'James Charles', 'Collins Key', 'Diana and Roma EN', 'Troom Troom',
       'Enrique Iglesias', 'Ninja', 'Mister Max', 'That Little Puff',
       'Juan De Dios Pantoja', 'Logan Paul', 'Maya and Mary',
       'Peppa Pig EspaÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'Jelly', 'Miss Katy',
       'Tilak', 'Valentina Pontes ofc', 'Sesame Street', 'Lady Gaga',
       'Wave Music Bhojpuri', 'GMM GRAMMY OFFICIAL', 'TED',
       'unknown boy varun', 'Kids TV - Nursery Rhymes And Baby Songs',
       'Tsuriki Show', 'Technical Guruji', 'DrossRotzank',
       'White Hill Music', 'Ultra Movie Parlour', 'toyorbabytv',
       'BabyBus - Canciones Infantiles & Videos para NiÃ¯Â¿Â½Ã¯',
       'Vania Mania Kids', 'Sun TV', 'Heroindori', 'The Chainsmokers',
       'mmoshaya', 'Sia', 'LeoNata Family', 'Goldmines Cineplex',
       'Vlad and Niki Arabic', 'SSundee', 'FGTeeV',
       'Kinder Spielzeug Kanal (Kidibli)', 'Charlie Puth',
       'Vlad and Niki ESP', 'Sagawa /Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'Ben Azelart',
       'Zach Choi ASMR', 'Topper Guild', 'Disney LatinoamÃ¯Â¿Â½Ã¯Â¿Â½',
       'Stokes Twins', 'National Geographic', 'Dua Lipa',
       'OneDirectionVEVO', 'ZAMZAM ELECTRONICS TRADING', 'DUDU e CAROL',
       'Village Cooking Channel', 'Eva Bravo Play', 'Tlnovelas',
       'Sidhu Moose Wala', 'The Royalty Family', 'Ishaan Ali 11',
       'Infinite', 'Azhan5star', 'Dangal TV Channel',
       'GMA Public  Affairs', 'Tasty', 'Baim Paula', 'nigahiga',
       'Rafa & Luiz', 'Lyrical Lemonade', 'Vlad and Niki IDN',
       'Dr. Vivek Bindra: Motivational Speaker', 'Fatos Desconhecidos',
       'Brave Wilderness', 'LIV Crime', 'Canal Canalha',
       'Kurzgesagt Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿', 'Yoeslan', '5-Minute Crafts DIY',
       'tuzelity SHUFFLE', 'NBA', 'Avicii', 'Mnet K-POP', 'LazarBeam',
       'Ninja Kidz TV', 'Totoy kids - PortuguÃ¯Â¿Â½', 'Jake Paul',
       'Vijay Television', 'SlivkiShow', 'Emiway Bantai',
       'Got Talent Global', 'BabyBus - Cerita & Lagu Anak-anak',
       'Ami Rodriguez', 'Noor Stars',
       'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'dednahype',
       'Marta and Rustam', 'MiawAug', 'CookieSwirlC', 'Skrillex',
       'AuthenticGames', 'Pencilmation', '7clouds',
       '5-Minute Crafts PLAY', 'BuzzFeedVideo', 'REACT', 'Vevo',
       'Gordon Ramsay', 'Green Gold TV - Official Channel',
       'Gusttavo Lima Oficial', 'HaerteTest', 'Crafty Panda', 'SOMOY TV',
       'JennaMarbles', "Britain's Got Talent", 'SCTV', 'Sony AATH',
       'tabii Urdu', 'DaFuq!?Boom!', 'Clash of Clans', 'RKD Studios',
       'DLS News', 'etvteluguindia', 'FIFA', 'Manoj  parihar', 'shane',
       'Sonotek', 'Jimmy Kimmel Live', 'TheOdd1sOut',
       'SUPER SLICK SLIME SAM', 'Wow Kidz Action', 'Turma da MÃ¯Â¿Â½Ã¯Â¿Â½',
       'KBS WORLD TV', 'HiMan',
       'Little Angel EspaÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'TED-Ed',
       'Sidemen', 'Farruko', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Triggered Insaan',
       'Shemaroo Comedy', 'Smile Family Spanish', 'GRAMMY GOLD OFFICIAL',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ | Arab Games Network',
       'Dan-Sa / Daniel Saboya', 'Marmok', 'Like Nastya Vlog',
       'Willie Salim', 'PDK Films', 'TheWillyrex',
       'RsiamMusic : Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'shakiraVEVO',
       'Naisa Alifia Yuriza (N.A.Y)', 'Miley Cyrus', 'IShowSpeed',
       'INCRÃ¯Â¿Â½Ã¯Â¿', 'Jake Fellman', 'GEN HALILINTAR', 'SQUEEZIE',
       'Blippi - Educational Videos for Kids', 'officialpsy',
       'Manual do Mundo', 'How Ridiculous', 'SebastiÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½',
       'SonyMusicSouthVEVO', 'TheGrefg', 'David Dobrik', 'KatieAngel',
       'RobleisIUTU', 'Lele Pons', 'Demi Lovato', 'Like Nastya VNM',
       'Jason Derulo', 'MGC Playhouse', 'Priyal Kukreja',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ KIMPRO', 'Jane ASMR Ã¯Â¿Â½Ã¯Â¿Â½', 'ArianaGrandeVevo',
       'jaanvi patel', 'tanboy kun', 'Porta dos Fundos', 'News 24',
       "Les' Copaque Production", 'El Payaso Plim Plim', 'zbing z.',
       'MissaSinfonia', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Liziqi', 'DeGoBooM', 'JFlaMusic',
       'FactTechz', 'News18 India', 'Fun For Kids TV - Hindi Rhymes',
       'IGN', 'Aphmau', 'AMARINTV : Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ - Al-Remas', 'Apple', 'Stubborn Facts',
       'Taarak Mehta Ka Ooltah Chashmah', 'HowToBasic',
       'Marques Brownlee', 'Anitta', 'El Reino a Jugar', 'Willyrex',
       'TheBrianMaps', 'TRANS TV Official', 'Liza Koshy',
       'Queen Official', 'Prajapati News', 'Pop Chartbusters',
       'Guava Juice', 'EeOneGuy', 'VICE', 'Aayu and Pihu Show',
       'Danny Fitt', 'Bispo Bruno Leonardo', 'Like Nastya IDN',
       'Gato Galactico | GALÃ¯Â¿Â½Ã¯Â¿', 'CoryxKenshin',
       'With Kids[Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯', 'Tu COSMOPOLIS', 'Ivana Alawi',
       'IDEAS EN 5 MINUTOS', 'NMF News', 'SriBalajiMovies',
       'Lahari Music - TSeries', 'Younes Zarou', 'Jordan Matter',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'FailArmy', 'BBC News Hindi',
       'FunFun Toy Doll TV', 'Sandra Cires Art', 'Kaykai Salaider',
       'UFC - Ultimate Fighting Championship', 'Ch7HD',
       'GMMTV OFFICIALÃ¯Â¿Â½Ã¯Â¿Â½', 'Boyce Avenue', 'Little Mix', 'SAM SMITH',
       'Pitbull', 'Bollywood Classics', 'Technoblade', 'W2S',
       'Jennifer Lopez', 'Kids Play', 'T3ddy', 'JJ Olatunji', 'POPS Kids',
       'Thairath Online', 'LEGO', 'XO TEAM', 'Dyland PROS',
       'Vlad and Niki ARA', 'Canal IN', 'Daily Dose Of Internet',
       'Panda Shorts', 'Disney Junior', 'wifistudy', 'Antrax',
       'Totoy kids - EspaÃ¯Â¿Â½Ã¯', 'DopeLyrics', 'jeffreestar', 'Lyna',
       'MK MUSIC', 'Unspeakable', 'Camilo', 'Dear Sir', 'Narendra Modi',
       'Arif muhammad', 'Rotten Tomatoes Trailers', 'Volga Video',
       'MY FAMILY', 'Team Films Bhojpuri', 'Zee Music Classic',
       'Prime Video India', 'Caeli YT', 'Linus Tech Tips',
       'Juliana Baltar', '5-Minute Crafts FAMILY', 'Blippi EspaÃ¯Â¿Â½Ã¯',
       'Katakit Baby TV', 'Infobells Bangla', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½',
       'Henrique e Juliano', 'Kashvi Adlakha', 'Talking Tom & Friends',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½ 5 Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Harsh Beniwal',
       'FFUNTV', 'Mobile Legends: Bang Bang', 'Roman Atwood Vlogs',
       'Mrwhosetheboss', 'Genierock', 'Kerajinan 5-Menit', 'FC Barcelona',
       'Dave and Ava - Nursery Rhymes and Baby Songs', 'LOKESH GAMER',
       'ILYA BORZOV', 'Mazhavil Manorama',
       'PokÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'The MriDul', 'Niana Guerrero',
       'SRK MUSIC', 'Sony LIV', 'T-Series Hamaar Bhojpuri',
       'Oyuncak AvÃ¯Â¿', 'CNN', 'NDTV India', "It's Mamix",
       'Daftar Populer', 'Ranz Kyle', 'PowerfulJRE', 'Mariale',
       'Makiman131', 'Mohamed Ramadan I Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯', 'EdisonPts',
       'BIGBANG', 'RubÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'ABS-CBN News', 'Chapitosiki',
       'MoreAliA', 'Chetan Monga Vlogs',
       'Little Angel - MÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½',
       'League of Legends', 'XpressTV', 'PlayStation', 'Kwebbelkop',
       'Republic Bharat', 'THE BROWN SIBLINGS', 'Sony Music South',
       'Ray William Johnson', 'KOMPASTV', 'ISSEI / Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½',
       'ZÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯', 'A2 Motivation by Arvind Arora', '50 Cent',
       'MNCTV OFFICIAL', 'melanie martinez',
       'iTownGamePlay *Terror&DiversiÃ¯Â¿Â½Ã¯', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½8 : Thai Ch8',
       'TazerCraft', 'Fueled By Ramen', 'CrashCourse', 'MattyBRaps',
       'Lachlan', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Meghan Trainor',
       'Jorge & Mateus Oficial', 'Filaretiki', '5-Minute Crafts Recycle',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Canal Nostalgia', 'The Slow Mo Guys',
       'StudyIQ IAS', 'Chad Wild Clay', 'CollegeHumor', 'Netflix Jr.',
       'Colors Rishtey', 'ABC News', 'Camila Loures', 'Doc Tops', 'Auron',
       'Jesser', 'Planeta das GÃ¯Â¿Â½Ã¯Â¿Â½', 'PrestonPlayz', 'Martin Garrix',
       'O Reino Infantil', 'Mis Pastelitos', 'Noman Official',
       'Like Nastya Stories', 'les boys tv2', 'Lotus Music',
       'IDEIAS INCRÃ¯Â¿Â½Ã¯Â¿Â½', 'Reaction Time', 'BBC News',
       'Eli Kids - Cartoons & Songs',
       'Boram Tube ToysReview [Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿',
       'Aadishakti Films', 'Telemundo', 'GMM25Thailand',
       'TV9 Bharatvarsh', 'Maroon5VEVO',
       'Saad Lamjarred | Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿', 'Lilly Singh',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Gyan GamingÃ¯Â¿Â½', 'Drawblogs',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ I Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Cyprien',
       'Rclbeauty101', 'Coke Studio', 'Indore Physical Academy',
       'Rosanna Pansino', 'Vlad and Niki PRT', 'RS 1313 SHORTS',
       'SelenaGomezVEVO', 'ZEE5', 'Super Polina', 'Wish 107.5',
       'Invento na Hora', 'NikkieTutorials', 'TommyInnit',
       'E-MasterSensei', 'infobells - Kannada', 'SEVENGERS', 'Zee Bangla',
       'DangMattSmith', 'Neha Kakkar', 'Supercar Blondie',
       'Yudist Ardhana', 'MalumaVEVO',
       'F2Freestylers - Ultimate Soccer Skills Channel', 'Bie The Ska',
       'AM3NlC', 'Narins Beauty', 'TV Ana Emilia', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½',
       'Luli PampÃ¯Â¿Â½', 'ViralHog', 'ETV Jabardasth',
       'Crescendo com Luluca', 'Jazzghost', 'karameeshchannel',
       'Darkar Company Studios', 'T-Series Regional', 'ADEL et SAMI',
       'Atlantic Records', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Veritasium',
       'Airrack', 'Hacksmith Industries', 'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½/Atro',
       '123 GO! Spanish', 'Geo News',
       'Kids TV India Hindi Nursery Rhymes', 'Think Music India',
       'O Que NÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿', 'Goldmines Premiere', 'MAIKI021',
       'The Vishal bhatt', 'NishaMadhulika', 'MyMissAnand', 'FAPTV',
       'Wesley SafadÃ¯Â¿Â½', 'infobells', 'Acenix', 'Zeinab Harake',
       'DALLMYD', 'Lindsey Stirling', 'JOJO TV - Hindi Stories', 'BBC',
       'Saturday Night Live', 'BUDI01 GAMING', 'Typical Gamer', 'Anaysa',
       'Awakening Music', 'Lady Diana', 'Sanjoy Das Official',
       'Woody & Kleiny', 'Vijay Kumar Viner Vlogs', 'Conor Maynard',
       'Wengie', 'Vlad y Niki Show', 'Codiscos',
       'The World Adventures Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'Vibhu 96',
       'ATHLEAN-XÃ¯Â¿Â½', 'My Mate Nate', 'H2ODelirious',
       'GMA Integrated News', 'Peet Montzingo', 'Trakin Tech',
       'theRadBrad', 'Matt Steffanina', 'Kurt Hugo Schneider', 'Vogue',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'Kids LineÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½', 'VexTrex',
       'penguinz0', 'Just For Laughs Gags', "Kabita's Kitchen",
       'BanderitaX', 'AzzyLand', 'HUBAÃ¯Â¿Â½Ã¯Â¿Â½', 'BIBO Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿',
       'Brawl Stars', 'Sonotek Bhakti', 'Vilmei', 'MC Divertida',
       'The Infographics Show', 'jbalvinVEVO', 'Ã½Ã½Ã½Ã½Ã½Ã½TwinsFromRussia',
       'Technology Gyan', 'CookingShooking Hindi',
       'Alex Gonzaga Official', 'WiederDude', 'Lokdhun Punjabi',
       'Painzeiro', 'Peppa Pig em PortuguÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ms Yeah', 'RaptorGamer', 'RedeTV',
       'twenty one pilots', 'Davie504', 'Everson Zoio', 'Lofi Girl',
       "GH'S", 'JesseAndMike', 'Susy Mouriz', '7 Minutoz',
       'The LaBrant Fam', 'Pastor AntÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯', 'gymvirtual',
       'BIBOÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯', 'Top Viral Talent',
       'AlArabiya Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿', 'EnriqueIglesiasVEVO',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½', 'The Shiny Peanut',
       'Talking Angela',
       'Melon City Show - Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿',
       'Duo Tiempo De Sol', 'MrSuicideSheep', 'Adam W',
       'Right to Shiksha', 'BeyoncÃ¯Â¿Â½Ã¯Â¿Â½', 'FACT FIRE KING',
       'Franco Escamilla', 'Adexe & Nau', 'Diana and Roma IND', 'Future',
       'YoungBoy Never Broke Again', 'Blossom', 'Piuzinho',
       'Heidi y Zidane', 'Go Ami Go!', 'Morgz', 'CaseyNeistat',
       'Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½SULGI', 'Ellie Goulding', 'colinfurze', 'People Vs Food',
       'Health Time', 'Yair17', 'Little Baby Bum en EspaÃ¯Â¿Â½Ã¯',
       'First We Feast', 'MÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½',
       'Bebefinn - Nursery Rhymes & Kids Songs', 'Parafernalha', 'NDTV',
       'elcarteldesantatv', 'Family Fitness', 'Zee Tamil',
       'Flowers Comedy', 'Mundo Bita', 'Wave Music Bhakti', 'CKM',
       'Quantum Tech HD', '_vector_', 'DEV Ke Facts', 'LOUD', 'Gibby :)',
       'SAAIHALILINTAR', 'Timba Vk', 'Heidi and Zidane HZHtube',
       'DaniRep | +6 VÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½Ã¯', 'Zee Kids',
       "Pari's Lifestyle", 'DisneyChannelUK', 'bharatzkitchen HINDI',
       'Avril Lavigne', 'Caylus', 'Natan por AÃ¯Â¿',
       'Free Fire India Official', 'Panda'], dtype=object)

In [30]:
len(df4.Youtuber.unique())

774

In [31]:
# There are names that contain special characters, we will remove all those data
words_with_special_chars = []
for word in df4.Youtuber.unique():
    if 'Ã¯' in word or 'Ã½' in word:
        words_with_special_chars.append(word)
len(words_with_special_chars)

87

In [32]:
df4.Youtuber = df4.Youtuber.apply(lambda name: 'Dropped' if ('Ã¯' in name or 'Ã½' in name) else name)
len(df4.Youtuber.unique())

688

In [33]:
df5 = df4[df4.Youtuber != 'Dropped']
df5.Youtuber.unique()

array(['T-Series', 'MrBeast', 'Cocomelon - Nursery Rhymes', 'SET India',
       'PewDiePie', 'Like Nastya', 'Vlad and Niki', 'Zee Music Company',
       'WWE', 'BLACKPINK', 'Sony SAB', 'BANGTANTV', 'Justin Bieber',
       'HYBE LABELS', 'Zee TV',
       "Pinkfong Baby Shark - Kids' Songs & Stories", 'Canal KondZilla',
       'ChuChu TV Nursery Rhymes & Kids Songs', 'Shemaroo Filmi Gaane',
       'Colors TV', 'Dude Perfect', 'Movieclips', 'Tips Official',
       'El Reino Infantil', 'Wave Music', 'Aaj Tak', 'Sony Music India',
       'EminemMusic', 'Marshmello', 'YRF', 'Ed Sheeran',
       'Infobells - Hindi', 'Taylor Swift', 'Ariana Grande',
       'BillionSurpriseToys  - Nursery Rhymes & Cartoons', 'JuegaGerman',
       'Get Movies', 'Shemaroo', 'SonyMusicIndiaVEVO', 'Fernanfloo',
       'Voot Kids', 'Felipe Neto', 'HAR PAL GEO', 'Katy Perry',
       'whinderssonnunes', 'ABS-CBN Entertainment', 'Shakira',
       'ARY Digital HD', 'Speed Records', 'Masha and The Bear',
       'Like Nastya Show', 'Ishtar Music', 'Kimberly Loaiza',
       'Little Baby Bum - Nursery Rhymes & Kids Songs', 'CarryMinati',
       'XXXTENTACION', 'Super Simple Songs - Kids Songs', 'Mikecrack',
       'WorkpointOfficial', 'GR6 EXPLODE', 'TEDx Talks', 'shfa',
       'Goldmines Gaane Sune Ansune', 'TheEllenShow', 'Sony PAL',
       'Daddy Yankee', 'Like Nastya ESP', 'Jkk Entertainment', 'ABP NEWS',
       'Maria Clara & JP', 'Maroon 5', 'Ultra Bollywood', 'YouTube',
       'Saregama Music', 'IndiaTV', 'T-Series Bollywood Classics',
       'Markiplier', "Ryan's World",
       "Genevieve's Playhouse - Learning Videos for Kids", 'Geet MP3',
       'J Balvin', 'Jess No Limit', 'Jingle Toons', 'VEGETTA777',
       'SSSniperWolf', 'Selena Gomez', 'Rajshri', 'Ch3Thailand',
       'KHANDESHI MOVIES', 'NoCopyrightSounds',
       'CVS 3D Rhymes & Kids Songs', 'Ricis Official',
       'BabyBus - Kids Songs and Cartoons', 'Eros Now Music',
       'DisneyMusicVEVO', 'The Weeknd', 'KAROL G', 'Mr Bean',
       'rezendeevil', 'StarPlus', 'GMA  Network', 'GENIAL',
       'MR. INDIAN HACKER', 'Worldwide Records Bhojpuri', 'Dream',
       'Lucas and Marcus', 'JustinBieberVEVO',
       'Peppa Pig - Official Channel',
       'The Tonight Show Starring Jimmy Fallon', 'TheDonato',
       'Diana and Roma ESP', 'Zee News', 'AboFlah', 'AH', 'Trap Nation',
       "Spinnin' Records", 'Little Angel: Nursery Rhymes & Kids Songs',
       'Shawn Mendes', 'ashish chanchlani vines', 'Ultra Records',
       'Zhong', 'Enaldinho', 'AuronPlay', 'infobells - Tamil',
       'The Late Late Show with James Corden', 'Aditya Movies',
       'infobells - Telugu', 'HUM TV', 'Shemaroo Movies',
       'Bounce Patrol - Kids Songs', 'toycantando', 'Wiz Khalifa',
       'JYP Entertainment', 'DanTDM', 'Nick Jr.', 'Crazy XYZ',
       'Dushyant kukreja', 'Brent Rivera', 'Renato Garcia YT',
       'Beast Reacts', 'enchufetv', 'Netflix', 'Raffy Tulfo in Action',
       'WORLDSTARHIPHOP', 'Goldmines Bollywood', 'Alan Chikin Chow',
       'PANDA BOI', 'BB Ki Vines', 'D Billions', 'Smosh', 'Indosiar',
       'VanossGaming', 'David Guetta', 'LosPolinesios', 'TaylorSwiftVEVO',
       'Rans Entertainment', 'LankyBox', 'Coldplay', 'WB Kids',
       'The Lallantop', 'RihannaVEVO', 'WatchMojo.com', 'TRANS7 OFFICIAL',
       'Anuel AA', 'Dan Rhodes', 'Yuya', "America's Got Talent",
       'EminemVEVO', 'Chloe Ting', 'KatyPerryVEVO', 'Mark Rober',
       'Like Nastya AE', 'Pen Movies', 'shfa show India', 'Alejo Igoa',
       'DJ Snake', 'Diana and Roma ARA', 'KSI', 'Spider Slack', 'Preston',
       'James Charles', 'Collins Key', 'Diana and Roma EN', 'Troom Troom',
       'Enrique Iglesias', 'Ninja', 'Mister Max', 'That Little Puff',
       'Juan De Dios Pantoja', 'Logan Paul', 'Maya and Mary', 'Jelly',
       'Miss Katy', 'Tilak', 'Valentina Pontes ofc', 'Sesame Street',
       'Lady Gaga', 'Wave Music Bhojpuri', 'GMM GRAMMY OFFICIAL', 'TED',
       'unknown boy varun', 'Kids TV - Nursery Rhymes And Baby Songs',
       'Tsuriki Show', 'Technical Guruji', 'DrossRotzank',
       'White Hill Music', 'Ultra Movie Parlour', 'toyorbabytv',
       'Vania Mania Kids', 'Sun TV', 'Heroindori', 'The Chainsmokers',
       'mmoshaya', 'Sia', 'LeoNata Family', 'Goldmines Cineplex',
       'Vlad and Niki Arabic', 'SSundee', 'FGTeeV',
       'Kinder Spielzeug Kanal (Kidibli)', 'Charlie Puth',
       'Vlad and Niki ESP', 'Ben Azelart', 'Zach Choi ASMR',
       'Topper Guild', 'Stokes Twins', 'National Geographic', 'Dua Lipa',
       'OneDirectionVEVO', 'ZAMZAM ELECTRONICS TRADING', 'DUDU e CAROL',
       'Village Cooking Channel', 'Eva Bravo Play', 'Tlnovelas',
       'Sidhu Moose Wala', 'The Royalty Family', 'Ishaan Ali 11',
       'Infinite', 'Azhan5star', 'Dangal TV Channel',
       'GMA Public  Affairs', 'Tasty', 'Baim Paula', 'nigahiga',
       'Rafa & Luiz', 'Lyrical Lemonade', 'Vlad and Niki IDN',
       'Dr. Vivek Bindra: Motivational Speaker', 'Fatos Desconhecidos',
       'Brave Wilderness', 'LIV Crime', 'Canal Canalha', 'Yoeslan',
       '5-Minute Crafts DIY', 'tuzelity SHUFFLE', 'NBA', 'Avicii',
       'Mnet K-POP', 'LazarBeam', 'Ninja Kidz TV', 'Jake Paul',
       'Vijay Television', 'SlivkiShow', 'Emiway Bantai',
       'Got Talent Global', 'BabyBus - Cerita & Lagu Anak-anak',
       'Ami Rodriguez', 'Noor Stars',
       'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'dednahype',
       'Marta and Rustam', 'MiawAug', 'CookieSwirlC', 'Skrillex',
       'AuthenticGames', 'Pencilmation', '7clouds',
       '5-Minute Crafts PLAY', 'BuzzFeedVideo', 'REACT', 'Vevo',
       'Gordon Ramsay', 'Green Gold TV - Official Channel',
       'Gusttavo Lima Oficial', 'HaerteTest', 'Crafty Panda', 'SOMOY TV',
       'JennaMarbles', "Britain's Got Talent", 'SCTV', 'Sony AATH',
       'tabii Urdu', 'DaFuq!?Boom!', 'Clash of Clans', 'RKD Studios',
       'DLS News', 'etvteluguindia', 'FIFA', 'Manoj  parihar', 'shane',
       'Sonotek', 'Jimmy Kimmel Live', 'TheOdd1sOut',
       'SUPER SLICK SLIME SAM', 'Wow Kidz Action', 'KBS WORLD TV',
       'HiMan', 'TED-Ed', 'Sidemen', 'Farruko', 'Triggered Insaan',
       'Shemaroo Comedy', 'Smile Family Spanish', 'GRAMMY GOLD OFFICIAL',
       'Dan-Sa / Daniel Saboya', 'Marmok', 'Like Nastya Vlog',
       'Willie Salim', 'PDK Films', 'TheWillyrex', 'shakiraVEVO',
       'Naisa Alifia Yuriza (N.A.Y)', 'Miley Cyrus', 'IShowSpeed',
       'Jake Fellman', 'GEN HALILINTAR', 'SQUEEZIE',
       'Blippi - Educational Videos for Kids', 'officialpsy',
       'Manual do Mundo', 'How Ridiculous', 'SonyMusicSouthVEVO',
       'TheGrefg', 'David Dobrik', 'KatieAngel', 'RobleisIUTU',
       'Lele Pons', 'Demi Lovato', 'Like Nastya VNM', 'Jason Derulo',
       'MGC Playhouse', 'Priyal Kukreja', 'ArianaGrandeVevo',
       'jaanvi patel', 'tanboy kun', 'Porta dos Fundos', 'News 24',
       "Les' Copaque Production", 'El Payaso Plim Plim', 'zbing z.',
       'MissaSinfonia', 'DeGoBooM', 'JFlaMusic', 'FactTechz',
       'News18 India', 'Fun For Kids TV - Hindi Rhymes', 'IGN', 'Aphmau',
       'Apple', 'Stubborn Facts', 'Taarak Mehta Ka Ooltah Chashmah',
       'HowToBasic', 'Marques Brownlee', 'Anitta', 'El Reino a Jugar',
       'Willyrex', 'TheBrianMaps', 'TRANS TV Official', 'Liza Koshy',
       'Queen Official', 'Prajapati News', 'Pop Chartbusters',
       'Guava Juice', 'EeOneGuy', 'VICE', 'Aayu and Pihu Show',
       'Danny Fitt', 'Bispo Bruno Leonardo', 'Like Nastya IDN',
       'CoryxKenshin', 'Tu COSMOPOLIS', 'Ivana Alawi',
       'IDEAS EN 5 MINUTOS', 'NMF News', 'SriBalajiMovies',
       'Lahari Music - TSeries', 'Younes Zarou', 'Jordan Matter',
       'FailArmy', 'BBC News Hindi', 'FunFun Toy Doll TV',
       'Sandra Cires Art', 'Kaykai Salaider',
       'UFC - Ultimate Fighting Championship', 'Ch7HD', 'Boyce Avenue',
       'Little Mix', 'SAM SMITH', 'Pitbull', 'Bollywood Classics',
       'Technoblade', 'W2S', 'Jennifer Lopez', 'Kids Play', 'T3ddy',
       'JJ Olatunji', 'POPS Kids', 'Thairath Online', 'LEGO', 'XO TEAM',
       'Dyland PROS', 'Vlad and Niki ARA', 'Canal IN',
       'Daily Dose Of Internet', 'Panda Shorts', 'Disney Junior',
       'wifistudy', 'Antrax', 'DopeLyrics', 'jeffreestar', 'Lyna',
       'MK MUSIC', 'Unspeakable', 'Camilo', 'Dear Sir', 'Narendra Modi',
       'Arif muhammad', 'Rotten Tomatoes Trailers', 'Volga Video',
       'MY FAMILY', 'Team Films Bhojpuri', 'Zee Music Classic',
       'Prime Video India', 'Caeli YT', 'Linus Tech Tips',
       'Juliana Baltar', '5-Minute Crafts FAMILY', 'Katakit Baby TV',
       'Infobells Bangla', 'Henrique e Juliano', 'Kashvi Adlakha',
       'Talking Tom & Friends', 'Harsh Beniwal', 'FFUNTV',
       'Mobile Legends: Bang Bang', 'Roman Atwood Vlogs',
       'Mrwhosetheboss', 'Genierock', 'Kerajinan 5-Menit', 'FC Barcelona',
       'Dave and Ava - Nursery Rhymes and Baby Songs', 'LOKESH GAMER',
       'ILYA BORZOV', 'Mazhavil Manorama', 'The MriDul', 'Niana Guerrero',
       'SRK MUSIC', 'Sony LIV', 'T-Series Hamaar Bhojpuri', 'CNN',
       'NDTV India', "It's Mamix", 'Daftar Populer', 'Ranz Kyle',
       'PowerfulJRE', 'Mariale', 'Makiman131', 'EdisonPts', 'BIGBANG',
       'ABS-CBN News', 'Chapitosiki', 'MoreAliA', 'Chetan Monga Vlogs',
       'League of Legends', 'XpressTV', 'PlayStation', 'Kwebbelkop',
       'Republic Bharat', 'THE BROWN SIBLINGS', 'Sony Music South',
       'Ray William Johnson', 'KOMPASTV', 'A2 Motivation by Arvind Arora',
       '50 Cent', 'MNCTV OFFICIAL', 'melanie martinez', 'TazerCraft',
       'Fueled By Ramen', 'CrashCourse', 'MattyBRaps', 'Lachlan',
       'Meghan Trainor', 'Jorge & Mateus Oficial', 'Filaretiki',
       '5-Minute Crafts Recycle', 'Canal Nostalgia', 'The Slow Mo Guys',
       'StudyIQ IAS', 'Chad Wild Clay', 'CollegeHumor', 'Netflix Jr.',
       'Colors Rishtey', 'ABC News', 'Camila Loures', 'Doc Tops', 'Auron',
       'Jesser', 'PrestonPlayz', 'Martin Garrix', 'O Reino Infantil',
       'Mis Pastelitos', 'Noman Official', 'Like Nastya Stories',
       'les boys tv2', 'Lotus Music', 'Reaction Time', 'BBC News',
       'Eli Kids - Cartoons & Songs', 'Aadishakti Films', 'Telemundo',
       'GMM25Thailand', 'TV9 Bharatvarsh', 'Maroon5VEVO', 'Lilly Singh',
       'Drawblogs', 'Cyprien', 'Rclbeauty101', 'Coke Studio',
       'Indore Physical Academy', 'Rosanna Pansino', 'Vlad and Niki PRT',
       'RS 1313 SHORTS', 'SelenaGomezVEVO', 'ZEE5', 'Super Polina',
       'Wish 107.5', 'Invento na Hora', 'NikkieTutorials', 'TommyInnit',
       'E-MasterSensei', 'infobells - Kannada', 'SEVENGERS', 'Zee Bangla',
       'DangMattSmith', 'Neha Kakkar', 'Supercar Blondie',
       'Yudist Ardhana', 'MalumaVEVO',
       'F2Freestylers - Ultimate Soccer Skills Channel', 'Bie The Ska',
       'AM3NlC', 'Narins Beauty', 'TV Ana Emilia', 'ViralHog',
       'ETV Jabardasth', 'Crescendo com Luluca', 'Jazzghost',
       'karameeshchannel', 'Darkar Company Studios', 'T-Series Regional',
       'ADEL et SAMI', 'Atlantic Records', 'Veritasium', 'Airrack',
       'Hacksmith Industries', '123 GO! Spanish', 'Geo News',
       'Kids TV India Hindi Nursery Rhymes', 'Think Music India',
       'Goldmines Premiere', 'MAIKI021', 'The Vishal bhatt',
       'NishaMadhulika', 'MyMissAnand', 'FAPTV', 'infobells', 'Acenix',
       'Zeinab Harake', 'DALLMYD', 'Lindsey Stirling',
       'JOJO TV - Hindi Stories', 'BBC', 'Saturday Night Live',
       'BUDI01 GAMING', 'Typical Gamer', 'Anaysa', 'Awakening Music',
       'Lady Diana', 'Sanjoy Das Official', 'Woody & Kleiny',
       'Vijay Kumar Viner Vlogs', 'Conor Maynard', 'Wengie',
       'Vlad y Niki Show', 'Codiscos', 'Vibhu 96', 'My Mate Nate',
       'H2ODelirious', 'GMA Integrated News', 'Peet Montzingo',
       'Trakin Tech', 'theRadBrad', 'Matt Steffanina',
       'Kurt Hugo Schneider', 'Vogue', 'VexTrex', 'penguinz0',
       'Just For Laughs Gags', "Kabita's Kitchen", 'BanderitaX',
       'AzzyLand', 'Brawl Stars', 'Sonotek Bhakti', 'Vilmei',
       'MC Divertida', 'The Infographics Show', 'jbalvinVEVO',
       'Technology Gyan', 'CookingShooking Hindi',
       'Alex Gonzaga Official', 'WiederDude', 'Lokdhun Punjabi',
       'Painzeiro', 'RaptorGamer', 'RedeTV', 'twenty one pilots',
       'Davie504', 'Everson Zoio', 'Lofi Girl', "GH'S", 'JesseAndMike',
       'Susy Mouriz', '7 Minutoz', 'The LaBrant Fam', 'gymvirtual',
       'Top Viral Talent', 'EnriqueIglesiasVEVO', 'The Shiny Peanut',
       'Talking Angela', 'Duo Tiempo De Sol', 'MrSuicideSheep', 'Adam W',
       'Right to Shiksha', 'FACT FIRE KING', 'Franco Escamilla',
       'Adexe & Nau', 'Diana and Roma IND', 'Future',
       'YoungBoy Never Broke Again', 'Blossom', 'Piuzinho',
       'Heidi y Zidane', 'Go Ami Go!', 'Morgz', 'CaseyNeistat',
       'Ellie Goulding', 'colinfurze', 'People Vs Food', 'Health Time',
       'Yair17', 'First We Feast',
       'Bebefinn - Nursery Rhymes & Kids Songs', 'Parafernalha', 'NDTV',
       'elcarteldesantatv', 'Family Fitness', 'Zee Tamil',
       'Flowers Comedy', 'Mundo Bita', 'Wave Music Bhakti', 'CKM',
       'Quantum Tech HD', '_vector_', 'DEV Ke Facts', 'LOUD', 'Gibby :)',
       'SAAIHALILINTAR', 'Timba Vk', 'Heidi and Zidane HZHtube',
       'Zee Kids', "Pari's Lifestyle", 'DisneyChannelUK',
       'bharatzkitchen HINDI', 'Avril Lavigne', 'Caylus',
       'Free Fire India Official', 'Panda'], dtype=object)

In [34]:
df5.shape

(687, 18)

In [35]:
df5.head()

,Youtuber,subscribers,video views,category,uploads,Country,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Urban_population
0,T-Series,245000000,2.280000e+11,Music,20082,India,2.258000e+09,564600.0,9000000.0,6800000.0,108400000.0,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,471031528.0
2,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,1.348000e+09,337000.0,5400000.0,4000000.0,64700000.0,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,270663028.0
3,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,1.975000e+09,493800.0,7900000.0,5900000.0,94800000.0,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,270663028.0
4,SET India,159000000,1.480000e+11,Shows,116536,India,1.824000e+09,455900.0,7300000.0,5500000.0,87500000.0,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,471031528.0
7,PewDiePie,111000000,2.905804e+10,Gaming,4716,Japan,3.918400e+07,9800.0,156700.0,117600.0,1900000.0,0.0,2010.0,Apr,29.0,63.2,1.262266e+08,115782416.0

In [36]:
df5.describe()

,subscribers,video views,uploads,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Urban_population
count,6.870000e+02,6.870000e+02,687.000000,6.870000e+02,687.000000,6.870000e+02,6.870000e+02,6.870000e+02,6.870000e+02,687.000000,687.000000,687.000000,6.870000e+02,6.870000e+02
mean,2.317744e+07,1.171128e+10,12276.350801,1.839032e+08,42940.105284,6.866772e+05,5.148103e+05,8.244146e+06,2.701404e+05,2012.294032,15.724891,62.474818,4.794712e+08,2.401945e+08
std,1.818424e+07,1.583346e+10,39682.308851,3.685634e+08,72449.374452,1.158135e+06,8.681193e+05,1.391045e+07,5.712630e+05,4.423401,8.765407,26.434859,4.971390e+08,1.558879e+08
min,1.230000e+07,2.056338e+07,104.000000,3.360000e+02,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1970.000000,1.000000,9.000000,1.912789e+06,1.304943e+06
25%,1.450000e+07,4.330698e+09,459.500000,2.843650e+07,6700.000000,1.073000e+05,8.045000e+04,1.300000e+06,0.000000e+00,2009.000000,8.000000,35.500000,1.260140e+08,7.992776e+07
50%,1.770000e+07,7.741765e+09,1189.000000,7.940200e+07,18900.000000,3.031000e+05,2.273000e+05,3.600000e+06,1.000000e+05,2013.000000,16.000000,61.900000,3.282395e+08,2.706630e+08
75%,2.435000e+07,1.418384e+10,3921.500000,1.827575e+08,45000.000000,7.198500e+05,5.399000e+05,8.600000e+06,3.000000e+05,2015.000000,23.000000,88.200000,3.282395e+08,2.706630e+08
max,2.450000e+08,2.280000e+11,301308.000000,6.148000e+09,576000.000000,9.200000e+06,6.900000e+06,1.106000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.366418e+09,4.710315e+08

## Export the final dataframe to a new csv file

In [39]:
with open('clean_data.csv', 'w') as file:
    file.write(df5.to_csv(index=False, lineterminator='\n'))